<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head(|Thymeleaf - ${board}List|)">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	
<!-- container -->
	<div class="container">
		<h3 th:text="${board}+' Page'"></h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Num</th>
					<th scope="col">Title</th>
					<th scope="col">Writer</th>
					<th scope="col">Date</th>
					<th scope="col">Hit</th>
					<th scope="col">index</th>
					<th scope="col">count</th>
					<th scope="col">size</th>
					<th scope="col">even</th>
					<th scope="col">odd</th>
					<th scope="col">first</th>
					<th scope="col">last</th>
					<!-- <th scope="col">Current</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="VO, state : ${list}">
					<th scope="row" th:text="${VO.num}"></th>
										<!-- @{ |./${board}select| } -->
					<td><a href="#" th:href="@{./select(num=${VO.num})}" th:text="${VO.title}"></a></td>
					<td th:text="${VO.writer}"></td>
					<td th:text="${VO.regDate}"></td>
					<td th:text="${VO.hit}"></td>
					<td th:text="${state.index}"></td> <!-- 인덱스 번호 0부터 시작 -->
					<td th:text="${state.count}"></td> <!-- 횟수 번호 1부터 시작 -->
					<td th:text="${state.size}"></td> <!-- 총 개수 list.size() -->
					<td th:text="${state.even}"></td> <!-- 현재 count가 짝수인지 여부 -->
					<td th:text="${state.odd}"></td> <!-- 현재 count가 홀수인지 여부 -->
					<td th:text="${state.first}"></td> <!-- 현재가 첫번째인가? -->
					<td th:text="${state.last}"></td> <!-- 현재가 마지막이냐? -->
					<!-- <td th:text="${state.current}"></td> 현재 요소 -->
				</tr>
			</tbody>
		</table>
		<a th:href="@{./insert}" href="#" class="btn btn-primary">WRITE</a>		
	</div>
	<a th:href="@{./fileDown}" href="#" class="btn btn-primary">FileDown</a>
	<!-- Pager  -->
	<div class="container d-flex justify-content-center">
 			<ul class="pagination">
			    <li class="page-item">
			    	<a  th:if="${pager.previous}" class="page-link pager" href="#" th:title="${pager.startPage-1}">Previous</a>
			    	<span th:unless="${pager.previous}" class="page-link">Previous</span>
			    </li>
			    <li class="page-item" th:each="i : ${#numbers.sequence(pager.startPage, pager.lastPage)}">
			    	<a class="page-link pager" href="#" th:title="${i}" th:text="${i}">1</a>
			    </li>
			    <li class="page-item">
			    	<a th:if="${pager.next}" class="page-link pager" href="#" th:title="${pager.lastPage+1}">Next</a>
			    	<span th:unless="${pager.next}" class="page-link">Next</span>
			    </li>
 			</ul>
	</div>
	<!-- 검색 form -->
	<div class="container d-flex justify-content-center">
		<div class="input-group align-items-center">
			<form id="frm" th:action="@{list}" class="form-inline">
				<input type="hidden" name="curPage" value="1" id="curPage">
					<div class="input-group-prepend">
						<select class="form-control" name="kind" id="kind"
							th:value="${pager.kind}">
							<option class="sel"
								th:selected="${pager.kind}=='Title'?true:false">Title</option>
							<option class="sel"
								th:selected="${pager.kind}=='Contents'?true:false">Contents</option>
							<option class="sel"
								th:selected="${pager.kind}=='Writer'?true:false">Writer</option>
						</select>
					</div>
					<input type="text" class="form-control" name="search" id="search"
						th:value="${pager.search}" placeholder="">
					<div class="input-group-append">
						<button class="btn btn-success" type="submit">Search</button>
					</div>
			</form>
		</div>
	</div>

	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>
<!-- JS -->
	<script type="text/javascript" th:src="@{~/js/boardSearch.js}"></script>
</body>
</html>