<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head(|Thymeleaf - ${board}Select|)">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- header ------------------->
	<div th:replace="/fragments/default :: header"></div>
	
<!-- container ---------------->
	<div class="container">
		<form id="frm" action="#">
			<div class="form-row">
				<div class="col">
					Title <input type="text" id="title" class="form-control check" th:value="${VO.title}" name="title">
				</div>
				<div class="col">
					Writer <input type="text" id="writer" class="form-control check" th:value="${VO.writer}" name="writer">
				</div>
			</div>
			<div class="form-group">
				<label for="contents">Contents</label>
				<textarea class="form-control check" id="contents" rows="20" th:text="${VO.contents}" name="contents"></textarea>
			</div>
		</form>
	</div>
	
	<div class="container">	
		<a th:href="@{./update(num=${VO.num})}" href="#" class="btn btn-primary">UPDATE</a>
		<a th:href="@{./delete(num=${VO.num})}" href="#" class="btn btn-danger">DELETE</a>
	</div>
	
<!-- footer ------------------->
	<div th:replace="/fragments/default :: footer"></div>
</body>
</html>