<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head('Thymeleaf - memberJoin')">
<meta charset="UTF-8">
<title>Thymeleaf - memberJoin</title>
</head>
<body>
	<!-- /member/memberJoin -->
	<!-- com.hs.s1.member.MemberController.setJoin -->
	
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbo -->
	<h1>Member Join Page</h1>
	<div th:replace="/fragments/default :: jumbo"></div>
	
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>