<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head('Thymeleaf - memberJoin')">
<meta charset="UTF-8">
<title>Thymeleaf - memberJoin</title>
</head>
<body>
	<!-- /member/memberJoin -->
	<!-- com.hs.s1.member.MemberController.setJoin -->
	
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbo -->
	<h3>Member Join Page</h3>
	<div class="container">
		<form id="frm" th:object="${memberVO}" th:action="@{./join}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="username">ID</label> 
				<input type="text" class="form-control" id="username" aria-describedby="usernameHelp" name="username">
				<!-- <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p> -->
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="form-group">
				<label for="passwordCheck">Password Check</label> 
				<input type="password" class="form-control" id="passwordCheck">
			</div>
			<div class="form-group">
				<label for="name">Name</label> 
				<input type="text" class="form-control etc" id="name" name="name" th:field="*{name}">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			</div>
			
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="email" class="form-control etc" id="email" name="email">
			</div>
			<div class="form-group">
				<label for="phone">Phone</label> 
				<input type="tel" class="form-control etc" id="phone" name="phone">
			</div>
			<div class="form-group">
				<label for="file">File</label> 
				<input type="file" class="form-control etc" id="file" name="file">
			</div>
			
			<input type="submit" id="btn" value="JOIN" class="btn btn-primary">
			
		</form>
	</div>
	
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>