<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/default :: head(|Thymeleaf - ${board}Update|)">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
<!-- container -->
	<div class="container">
		<div th:fragment="form(act)">
			<form id="frm" th:action="@{|./${act}|}" method="POST">
				<div class="form-row">
					<div class="col">
						<input th:value="${VO.num}" name="num" hidden="">
						Title <input type="text" id="title" class="form-control check" th:value="${VO.title}" name="title">
					</div>
					<div class="col">
						Writer <input type="text" id="writer" class="form-control check" th:value="${VO.writer}" name="writer" >
					</div>
				</div>
				<div class="form-group">
					<label for="contents">Contents</label>
					<textarea class="form-control check" id="contents" rows="20" th:text="${VO.contents}" name="contents"></textarea>
				</div>
				<button type="submit" id="btn" class="btn btn-primary" th:text="${act}"></button>
			</form>
		</div>
	</div>
<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>
</body>
</html>